
.button {
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: var(--green-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #34C94B;
}

.button:hover {
  background-color: #121212;
}




